.banner-trivias {
  background-color: #E7EEF7; /* Fondo claro */
  text-align: center;
  color: #333;
  width: 100%;
  max-width: 800px;
  border-radius: 50px;
  margin: 0 auto;
  height: 200px;
  margin-bottom: 150px;
  position: relative;
}
.trivias-icon{
  position: absolute;
  left: -75px;
  width: 160px;
}
.trivias-icon img{
  width: 100%;
}
@media screen and (max-width: 1023px){
  .trivias-icon{
    left: 50%;
    transform: translateX(-50%);
    top: -80px;
    width: 130px;
  }
  .banner-trivias {
    height: 250px;
    row-gap: 20px;
    max-width: 500px;
  }

}
@media screen and (max-width: 767px){
  .banner-trivias {
    margin-top: 150px;
    margin-bottom: 100px;
  }
}