
.carrousel-container{
    margin-top: 90px;
}

.avisos-legal{
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 150px;
    font-size: 14px;
    font-weight: 300;
}
.avisos-legal a{
    color: #000;
}
@media screen and (min-width: 768px){
    .carrousel-avisos{
        border-radius: var(--br-card);
    }
    
}
@media screen and (max-width: 767px){
    .carrousel-avisos{
        border-radius: 20px;
    }
    .carrousel-container {
        margin-top: 50px;
    }
    .avisos-legal{
        margin-bottom: 50px;
 }
}