.str-paramount-container{
    background-image: url(../assets/images/streamings/paramount/paramount-str-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 800px;
}
.str-paramount-logo img{
    max-width: 400px;
}
.btn-contratar-str-paramount{
    background-color: var(--paramount-color);
}
.btn-streaming{
    border-radius: 50px;
    padding: 20px 50px;
    border: none;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
}
.streaming-title h2{
    font-size: 32px;
}

@media screen and (max-width: 767px){
    .bannerStreaming-container{
        height: auto;
        padding: 50px 0;
    }
    .streaming-title h2{
        text-align: center;
    }
    .streaming-contratar{
        text-align: center;
    }
    .str-paramount-logo{
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 1400px){
    .str-paramount-container{
        background-image: none;
        background-image: linear-gradient(45deg, #000048, #0064FF);
    }
    .str-paramount-container{
        height: auto;
        padding: 120px 0;
    }
    .str-paramount-logo img{
        max-width: 90%; 
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
    .streaming-title h2{
        font-size: 28px;
    }
}

@media screen and (min-width: 1450px){
    .streaming-title h2{
        font-size: 40px;
        margin-top: 20px;
    }

}
@media screen and (min-width: 1920px){
    .btn-streaming{
        width: 60%;
    }
}
@media screen and (max-width: 500px){

    .streaming-title, .streaming-contratar{
        text-align: center;
    }
}
@media screen and (max-width: 1023px){
    .str-paramount-container{
        height: auto;
        padding: 50px 0;
    }
    .btn-streaming{
        width: 90%;
    }

}




