.top-footer{
  background-color: #3A66FB;
  margin-bottom: 50px;
  padding: 15px 0;
}
.social-footer a img{
  width: 35px;
  transition: transform 0.3s ease;
}
.social-foter-container{
  align-items: center;
  gap: 20px;
  color: #fff;
}

.social-foter-container h3{
  font-size: 20px;
  font-weight: 300;
}
.contratar-container{
  gap: 15px;
  color: #fff;
}
.form-footer input{
  border-radius: 50px;
  border: none;
  padding: 8px 15px;
  outline: none;
}
.form-footer button{
  background-color: var(--turquesa-btn);
  font-weight: 600;
  border-radius: 50px;
  border: none;
  padding: 8px 50px;
}
.form-footer{
  gap: 15px;
}

.footer {
  background-color: #000;
  padding:0;
  padding-bottom: 70px;
}

.btn-footer {
  font-size: 0.8rem;
  border: none;
  background-color: black;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  text-transform: uppercase;
  padding-left: 20px;
}
.llamame-send:hover{
  background-color: var(--turquesa-btn);
  opacity: 0.8;
  color: #000;
}

.accordion-item,
.accordion-item button {
  width: 100%;
}

.accordion-item:first-of-type>.accordion-header .accordion-button {
  background-color: #000;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 300;
  text-transform: uppercase;
}

.accordion,
.accordion-item {
  background-color: #fff;
  border: none;
  
}

.accordion
.accordion-item-footer {
background-color: #000;
border-radius: 0 !important;
}

.accordion {
  /*
  border-top: 0.5px solid #fff;*/
  --bs-accordion-border-width: 0;
}

.accordion-body {
  padding: 0 20px;
}

.accordion-item:focus {
  outline: none !important;
  /* Evita que aparezca el borde al hacer clic o usar el teclado */
}

.accordion-item {
  outline: none !important;
  /* Elimina el borde cuando el botón tiene el foco */
}

.list-ct {
  color: #fff;
  font-size: 0.8rem;
}

.list-ct-item {
  padding-top: 5px;
}

.list-ct-title {
  font-weight: 600;
}

.list-ct .list-ct-item a {
  color: #fff;
  text-decoration: none;
}

.list-ct-item a:hover {
  color: #ffffff95;
}

.accordion-button::after {
  content: '';
  background-image: url('/icons/acordin-close.png'); 
  background-size: contain; 
  background-repeat: no-repeat;
  width: 1em;
  height: 1em; 
  display: inline-block;

}
.accordion-button:not(.collapsed)::after {
  content: '';
  background-image: url('/icons/acording-open.png');
  transform: rotate(0deg);
}
.footer-logos{
  gap: 100px;
  padding-right: 100px;
}
.footer-logos img{
  width: 200px;
}
.accordion-button:focus {
  z-index: 3;
  outline: 0;
  box-shadow: none;
}
.social-footer a img:hover{
  transform: scale(1.1);
  opacity: 0.7;
}
.form-check-label a{
color: #fff;
text-decoration: underline;
transition: opacity 0.3s ease;
}
.form-check-label a:hover{
  opacity: 0.8;
}


@media screen and (max-width: 500px){
  .contratar-container, .form-footer{
    width: 95%;
  }
}
@media screen and (max-width: 768px){
  .footer-logos{
    gap: 20px;
    padding-right: 0;
  }
  .footer-logos img{
    width: 250px;
  }
  .top-footer{
    padding: 40px 0;
  }

  .contratar-container input{
    width: 100%;
  }
  .contratar-container label{
    font-size: 24px;
  }
  .footer-logos img {
    width: 90%;
}
.footer-logos img:first-child{
  width: 65%;
}
}


