:root{
    --turquesa-btn:#00D7CC;
    --blue-dark:#3a66fb;
    --br-card: 50px;
    --disney-color:#008999;
    --netflix-color:#E51B20;
    --max-color:#002BE7;
    --prime-color:#0578FF;
    --paramount-color:#0064FF;
    --tabs-section: #193FDE;
    --blue-gray:#C2D4EA;
}
@font-face{
    font-family: 'Poppins';
    src: url(../assets/fonts/Poppins-Light.ttf);
    font-weight: 300;
}
@font-face{
    font-family: 'Poppins';
    src: url(../assets/fonts/Poppins-Regular.ttf);
    font-weight: 400;
}
@font-face{
    font-family: 'Poppins';
    src: url(../assets/fonts/Poppins-Medium.ttf);
    font-weight: 500;
}
@font-face{
    font-family: 'Poppins';
    src: url(../assets/fonts/Poppins-SemiBold.ttf);
    font-weight: 600;
}
@font-face{
    font-family: 'Poppins';
    src: url(../assets/fonts/Poppins-Bold.ttf);
    font-weight: 700;
}
@font-face{
    font-family: 'Poppins';
    src: url(../assets/fonts/Poppins-Black.ttf);
    font-weight: 900;
}

*{
    font-family: 'Poppins', sans-serif;
}
ul{
    list-style: none;
    padding: 0;
}
p, h1, h2, h3{
    margin: 0;
}
html, body{
    overflow-x: hidden !important;
}
a{
    text-decoration: none;
}

/*Titulos*/
.small-title{
    color: var(--blue-dark);
    text-transform: uppercase;
    font-size: clamp(1.25rem, 1.0624rem + 0.698vw, 1.9rem);
    font-weight: 500;
}
.big-title{
    font-size: clamp(2rem, 1.7114rem + 1.0738vw, 3rem);
    font-weight: 700;
    text-transform: initial;
    line-height: 1.2;
}
.secondary-title{
    margin-top: 5px;
    font-size: clamp(1.8rem, 1.502rem + 1.1089vw, 2.5rem);
    font-weight: 300;
}
.secondary-title span{
    font-weight: 600;
}
.cliente-question-big{
    font-size: 40px;
}
.cliente-question-small{
    font-size: 18px;
    font-weight: 600;
}
.big-title-container-sm{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

/* Botones */
.btn-packs{
    background-color: var(--turquesa-btn);
    border-radius: 50px;
    font-size: 1.3rem;
    padding: 10px 0;
    font-weight: 500;
    border: none;
    width: 250px;
}
.btn-action{
    background-color: var(--turquesa-btn);
    border-radius: 50px !important;
    font-size: 1.3rem;
    padding: 10px 20px;
    font-weight: 500;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    transition: background-color 0.2s ease-in-out;
    text-decoration: none;
    color: #000;
}
.btn-packs:hover, .btn-action:hover{
    background-color: #01c6bd;
}
.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active{
    background-color: #01c6bd;
}
.open-page-icon{
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url(/icons/next-page-icon.png);
    background-position: center;
    background-size: cover;
}
.btn-container {
    margin: auto;
    max-width: 450px;
    background-color: #e5e5e5;
    border-radius: 50px;
    padding: 5px;
  }
  .pack-btn {
    width: 50%;
    border: none;
    border-radius: 50px;
    font-size: 1.35rem;
    font-weight: 700;
    line-height: 15px;
    padding: 11px 0 6px 0;
    margin: 0 !important;
    transition: background-color 0.3s ease, color 0.3s ease, font-weight 0.3s ease;
  }
  .pack-btn span {
    font-size: 10px;
    font-weight: 600;
  }
  .pack-btn-active {
    background-color: var(--turquesa-btn);
    color: #0f0d1d;
  }
  .pack-btn-inactive {
    background-color: #e5e5e5;
    font-weight: 400 !important;
    color: #0f0d1d9f;
  }
  .btn-pack-movil{
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    width: 230px;
  }

  @media screen and (max-width: 500px){
    .btn-container{
        flex-direction: column;
        border-radius: 30px;
        padding: 8px;
        width: 300px;
    }
    .pack-btn{
        width: 100%;
    }
    
  }

/* TABS*/
.title-tabs{
    background-color: var(--tabs-section);
    padding: 100px 0;
    color: #fff;
    font-size: clamp(2rem, 1.5743rem + 1.5842vw, 3rem);
    font-weight: 300;
}
.fw-title-tabs{
    font-weight: 500;
}
.title-tabs img{
    max-width: 350px;
}

/* Servicios */
.small-title-services{
    color: var(--blue-dark);
    font-size: 20px;
    text-transform: uppercase;
}
.big-title-services{
    font-size: clamp(1.75rem, 1.5371rem + 0.7921vw, 2.25rem);
    font-weight: 400;
    text-transform: uppercase;
}

/* Flechas */
.next-btn-prz:after, .prev-btn-prz:after{
    background-color: #00d7cc90;
    padding: 10px 15px;
    border-radius: 50px;
}
.next-btn-prz, .swiper-rtl .next-btn-prz{
    left: 30px !important;
    
}
.prev-btn-prz, .swiper-rtl .prev-btn-prz{
    right: 30px !important;
    
}

/* Btn tutorial */
.btn-tutorial{
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
}

/* Contenedores */
.general-tabs-container{
    padding: 80px 0;
}

.video-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .video-popup-content {
    position: relative;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 90%;
    max-height: 90%;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  video {
    max-width: 100%;
    max-height: 80vh;
  }
@media screen and (max-width:767px){
    .general-tabs-container{
        padding: 50px 0;
    }
    .small-title-services{
        margin-bottom: 15px;
    }
    .title-tabs{
       display: none;
    }
}
@media screen and (min-width:768px) and (max-width:1200px){
    .btn-client-pos{
        width: 200px !important;
    }
    .xview-beneficio-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

