:root{
    --turquesa-btn:#00D7CC;
    --blue-dark:#3a66fb;
    --br-card: 50px;
    --disney-color:#008999;
    --netflix-color:#E51B20;
    --max-color:#002BE7;
    --prime-color:#0578FF;
    --paramount-color:#0064FF;
    --tabs-section: #193FDE;
}
@font-face{
    font-family: 'Poppins';
    src: url(../assets/fonts/Poppins-Light.ttf);
    font-weight: 300;
}
@font-face{
    font-family: 'Poppins';
    src: url(../assets/fonts/Poppins-Regular.ttf);
    font-weight: 400;
}
@font-face{
    font-family: 'Poppins';
    src: url(../assets/fonts/Poppins-Medium.ttf);
    font-weight: 500;
}
@font-face{
    font-family: 'Poppins';
    src: url(../assets/fonts/Poppins-SemiBold.ttf);
    font-weight: 600;
}
@font-face{
    font-family: 'Poppins';
    src: url(../assets/fonts/Poppins-Bold.ttf);
    font-weight: 700;
}
@font-face{
    font-family: 'Poppins';
    src: url(../assets/fonts/Poppins-Black.ttf);
    font-weight: 900;
}

*{
    font-family: 'Poppins', sans-serif;
}
ul{
    list-style: none;
    padding: 0;
}
p, h1, h2, h3{
    margin: 0;
}
html, body{
    overflow-x: hidden !important;
}

/*Titulos*/
.small-title{
    color: var(--blue-dark);
    text-transform: uppercase;
    font-size: clamp(1.25rem, 1.0624rem + 0.698vw, 1.9rem);
    font-weight: 500;
}
.big-title{
    font-size: clamp(2rem, 1.7114rem + 1.0738vw, 3rem);
    font-weight: 700;
    text-transform: initial;
}
.secondary-title{
    margin-top: 5px;
    font-size: 2.5rem;
    font-weight: 300;
}
.secondary-title span{
    font-weight: 600;
}
.cliente-question-big{
    font-size: 40px;
}
.cliente-question-small{
    font-size: 18px;
    font-weight: 600;
}


/* Botones */
.btn-packs{
    background-color: var(--turquesa-btn);
    border-radius: 50px;
    font-size: 1.3rem;
    padding: 10px 50px;
    font-weight: 500;
    border: none;
}
.btn-action{
    background-color: var(--turquesa-btn);
    border-radius: 50px !important;
    font-size: 1.3rem;
    padding: 10px 20px;
    font-weight: 500;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: background-color 0.2s ease-in-out;
}
.btn-packs:hover, .btn-action:hover{
    background-color: #01c6bd;
}
.open-page-icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../assets/icons/next-page-icon.png);
    background-position: center;
    background-size: cover;
}


.btn-container {
    margin: auto;
    max-width: 450px;
    background-color: #e5e5e5;
    border-radius: 50px;
    padding: 5px;
  }
  .pack-btn {
    width: 50%;
    border: none;
    border-radius: 50px;
    font-size: 1.35rem;
    font-weight: 700;
    line-height: 15px;
    padding: 11px 0 6px 0;
    margin: 0 !important;
    transition: background-color 0.3s ease, color 0.3s ease, font-weight 0.3s ease;
  }
  .pack-btn span {
    font-size: 10px;
    font-weight: 600;
  }
  .pack-btn-active {
    background-color: var(--turquesa-btn);
    color: #0f0d1d;
  }
  .pack-btn-inactive {
    background-color: #e5e5e5;
    font-weight: 400 !important;
    color: #0f0d1d9f;
  }

  @media screen and (max-width: 500px){
    .btn-container{
        flex-direction: column;
        border-radius: 30px;
        padding: 8px;
        width: 300px;
    }
    .pack-btn{
        width: 100%;
    }
    
  }

/* TABS*/
.title-tabs{
    background-color: var(--tabs-section);
    padding: 100px 0;
    color: #fff;
    font-size: clamp(2rem, 1.5743rem + 1.5842vw, 3rem);
    font-weight: 300;
}
.fw-title-tabs{
    font-weight: 500;
}

/* Servicios */
.small-title-services{
    color: var(--blue-dark);
    font-size: 20px;
    text-transform: uppercase;
}
.big-title-services{
    font-size: 40px;
    font-weight: 400;
}