.megamovil-home {
    margin: 100px auto;
}
.img-megamovil {
  max-width: 100%;
  height: auto;
}
@media screen and (max-width: 767px) {
    .megamovil-home{
      margin-top: 0px;
      row-gap: 50px;
    }
    .text-p{
        padding-right: 0 !important;
    }
    .megamovil-home{
      margin-top: 80px;
      margin-bottom: 60px;
    }
    .pago-bancos img{
      width: 225px;
    }
    
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
.img-megamovil{
  max-width: 70%;
}
    
  }