.navbar-custom {
    width: 100%;
  }
  .navbar-container{
    background-color: transparent;
    z-index: 100;
  }
  
  .dropdown-submenu {
    position: relative;
  }
  
  .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
  }
  .navbar-logo{
width: 150px;
  }
  .navbar-logo img{
    width: 100%;
  }
  .navbar-nav{
    gap:10px;
  }
  .navbar-expand-xl .navbar-nav .dropdown-menu{
    padding: 10px;
    border-radius: 20px;
    border: none;

  }
  .dropdown-item:hover{
    background-color: #000;
    color: #fff;
    border-radius: 5px;
  }