.txt-paramount-color{
    color: var(--paramount-color) !important;
    }
    .paramount-cliente-btn{
        padding: 16px 0;
    }
    .paramount-btn-color{
        background-color: var(--paramount-color);
        color: #fff;
    
    }
    .paramount-btn-color:hover{
        background-color: #0258d9;
        color: #fff;
    }
    .paquete-item-paramount{
        border-color: var(--paramount-color);
    }
    .velocidadPromo-paramount{
        color: var(--paramount-color);
    }
    .pack-str-content{
        background-color: #e5e5e5;
        border-radius: 40px;
        padding: 15px;
    }
    .str-icon{
        bottom: 200px;
      }
      .str-icon-prime{
        bottom: 150px;
      }
    .table>:not(caption)>*>*{
        border: none;
        background-color: transparent;
        padding: 20px 50px;
    }
     
    .table-str-clients{
        margin-top: 100px;
        padding: 0;
    }
    .table .tr-gray {
        background-color: #E5E5E5 !important;
        border-radius: 50px !important;
      }
    .br-str-table1{
        border-radius: 50px 0 0 0;
    }
    .br-str-table2{
        border-radius: 0 50px 0 0;
    }
    .br-str-table3{
        border-radius: 0 0 0 50px;
    }
    .br-str-table4{
        border-radius: 0 0 50px 0;
    }
    .contrata-prime-clients{
        gap: 30px;
        margin-top: 0px;
        margin-right: 0px;
    }
    .plans-contrata-paramount{
        border: 2px solid var(--paramount-color);
        max-width: 350px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        border-radius: 50px;
        padding: 50px;
        margin: 0 auto;
    }
    .plans-contrata-paramount img{
        width: 330px;
    }
    .plan-content-paramount div{
        padding: 27px;
    }
    .plan-content-paramount h3{
        margin-top: 30px;
        font-size: 1.5rem;
        font-weight: 600;
    }
    .plan-content-paramount p{
        margin-top: 15px;
    }
    .paramount-icon-container{
        margin-top: -100px;
        margin-bottom: 30px;
    }
    .paramount-icon{
        width: 90px !important;
    }
    .btn-client-pos{
        position: absolute;
        bottom: -30px;
        left: 20%;
    }
    .str-icon-movile{
        margin-top: -60px;
    }
    .pack-movile-title{
        font-weight: 600;
        font-size: 24px;
        margin-top: 5px;
    }
    .card-body-movile{
        padding: 10px;
    }
    .beneficios-pack-movile{
        list-style: disc;
        padding-left: 10px;
        margin-top: 20px;
        font-size: 16px;
        margin-bottom: 30px;
    }

    .membresia-paramount{
        background-color: var(--paramount-color);
        border-radius: 50px;
        padding: 10px 30px;
    }

    .paramount-btn-contrata{
        left: 50%;
        transform: translateX(-50%);
        padding: 10px 30px;
    }
    .plan-content-prime{
        flex-wrap: wrap;
    }
    .beneficio-prime-mega{
        border: 2px solid var(--paramount-color);
        border-radius: 30px;
        margin: 10px;
        width: 350px;
        height: 150px;
    }
    .beneficio-prime-mega p{
        margin: 0;
        font-size: 1.3rem;
    }
    .plan-content-prime{
        margin-top: 50px !important;
    }
    .beneficio-prime-mega span{
        font-weight: 600 !important;
    }
    .cliente-info-paramount{
        font-size: 24px;
        max-width: 550px;
        margin: 0 auto;
    }
    .cliente-info-paramount span{
        font-weight: 600;
    }
    .paramount-content{
        list-style: disc;
        text-align: left;
    }
    .paramount-programs{
       margin-top: 100px;
       flex-wrap: wrap;
    }
    .paramount-programs img{
        width: 200px;
    }
    @media screen and (max-width:500px){
        .beneficio-prime-mega{
            height: 180px;
        }
        .paramount-btn-contrata{
            padding: 10px 25px;
        }
        .paramount-programs img{
            width: 110px;
        }
    }
    @media screen and (max-width:767px) {
        #carouselClienteMobile .carousel-control-prev-icon, #carouselClienteMobile 
        .carousel-control-next-icon{
            border-radius: 50px;
            padding: 15px;
        }
        #carouselClienteMobile .prev-icon-disney{
            background-color: var(--disney-color);
        }
        #carouselClienteMobile .next-icon-disney{
            background-color: var(--disney-color);
        }
        .prime-btn-contrata{
           width: 50%;
           padding: 10px;
        }
    }
    @media screen and (max-width:1200px){
        .plans-contrata-prime{
            padding: 90px 0;
        }
        .plans-contrata-prime img{
            width: 100%;
        }
    }
    @media screen and (max-width: 1023px){
        .paramount-programs{
            margin-bottom: 100px;
        }
    }
    
    
    
    
    
    