.txt-netflix-color {
    color: var(--netflix-color) !important;
}

.disney-cliente-btn {
    padding: 16px 0;
}

.netflix-btn-color {
    background-color: var(--netflix-color);
    color: #fff;

}

.netflix-btn-color:hover {
    background-color: #c91518;
    color: #fff;
}

.paquete-item-netflix {
    border-color: var(--netflix-color);
    width: 330px;

}

.velocidadPromo-netflix {
    color: var(--netflix-color);
}

.pack-str-content {
    background-color: #e5e5e5;
    border-radius: 40px;
    padding: 15px;
}

.str-icon {
    bottom: 200px;
}

.table>:not(caption)>*>* {
    border: none;
    background-color: transparent;
    padding: 20px 50px;
}

.table-str-clients {
    margin-top: 150px;
    padding: 0;
}

.table .tr-red {
    background-color: #e5242125 !important;
    border-radius: 50px !important;
}

.br-str-table1 {
    border-radius: 50px 0 0 0;
}

.br-str-table2 {
    border-radius: 0 50px 0 0;
}

.br-str-table3 {
    border-radius: 0 0 0 50px;
}

.br-str-table4 {
    border-radius: 0 0 50px 0;
}

.contrata-str-netflix {
    gap: 30px;
    margin-top: -710px;
    margin-right: 0px;
}

.plans-contrata-netflix {
    border: 2px solid var(--netflix-color);
    height: 700px;
    width: 315px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    border-radius: 50px;
}

.plans-contrata-netflix img {
    width: 80px;
    margin: 0 auto;
    margin-top: -50px;
}

.btn-client-pos {
    position: absolute;
    bottom: -30px;
    left: 20%;
}

.str-icon-movile {
    margin-top: -60px;
}

.pack-movile-title {
    font-weight: 600;
    font-size: 24px;
    margin-top: 5px;
}

.card-body-movile {
    padding: 10px;
}

.beneficios-pack-movile {
    list-style: disc;
    padding-left: 10px;
    margin-top: 20px;
    font-size: 16px;
    margin-bottom: 30px;
}

.pi1-hd {
    background-image: url(../assets/icons/netflix/pi1-hd.png);
}

.pi2-2hd {
    background-image: url(../assets/icons/netflix/pi1-2hd.png);
}

.pi3-4k {
    background-image: url(../assets/icons/netflix/pi3-4k.png);
}

.plans-netflix-icon {
    display: inline-block;
    height: 30px;
    width: 60px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.pack-str-netflix {
    padding: 10px;
}

.pack-btn-inactive-netflix .plans-netflix-icon {
    filter: invert(55%) brightness(83%) saturate(0%);
    opacity: 0.5;
}
.netflix-btn-plan{
    font-size: 0.8rem !important;
    line-height: 12px;
}
.plans-netflix-tv {
    font-size: 0.62rem !important;
}

.vm-td {
    padding-top: 60px !important;
}

#carouselClienteMobile .carousel-control-prev-icon,
#carouselClienteMobile .carousel-control-next-icon {
    border-radius: 50px;
    padding: 15px;
}

#carouselClienteMobile .prev-icon-netflix {
    background-color: var(--netflix-color);
}

#carouselClienteMobile .next-icon-netflix {
    background-color: var(--netflix-color);
}



table tr td span {
    font-weight: 600;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .btn-client-pos {
        left: 12%;
    }

    .plans-contrata-netflix {
        width: 217px;
        height: 900px;
    }

    .contrata-str-netflix {
        margin-top: -910px;

    }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
    .btn-client-pos {
        left: 12%;
    }

    .plans-contrata-netflix {
        width: 267px;
        height: 750px;
    }

    .contrata-str-netflix {
        margin-top: -760px;

    }
}