.pago-en-linea {
  background-image: url(../assets/images/home/paga-en-linea-wave.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  padding-top: 100px;
}

.pago-img img{
  width: 750px;
  padding-bottom: 30px;
}
.pago-bancos img{
  width: 300px;
  margin-top: 20px;
  margin-bottom: 30px;
  
}
.pago-en-linea-content{
  margin: 0 auto;
  gap: 100px;
}
.wave-vector{
  margin-top: -123px;
}
.wave-vector img{
  width: 100%;
}