.paquetes-tarifarios {
  padding-top: 150px;
  padding-bottom: 150px;

}

.paquete-item {
  background-color: #fff;
  border: 2px solid var(--blue-dark);
  border-radius: var(--br-card);
  padding: 15px;
  text-align: center;
  transition: border-color 0.3s, box-shadow 0.3s;
  width: 100%;
}



.card-title {
  font-size: 24px;
  font-weight: 600;
}
.btn-outline-dark {
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}
.packs-terminos{
  font-size: 14px;
  line-height: 16px;
  margin-top: 70px;
}
.velocidadPromo{
  font-size: 43px;
  color: var(--blue-dark);
  font-weight: 700;
  line-height: 1.6rem;
}
.tiempoVelocidadPromo{
  margin-top: 5px;
  font-size: 1rem;
}
.tiempoVelocidadPromo sup{
  vertical-align: 1px;
  font-size: 0.5rem;
}
.slider-gp{
  gap: 30px;
}
.xview-content, .promoExtra{
  margin-top: 30px;
}
.promoExtra, .promoExtra img{
  width: 100%;

}
.servicio-m{
  margin-top: 40px;
}
.card-servicio-txt{
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
}
.xview-content img{
  margin-top: 10px;
  margin-bottom: 10px;
}
.price-card{
  font-size: 3rem;
  font-weight: 700;
  line-height: 20px;
  margin-top: 50px;
}
.price-card .time-crd{
  font-size: 1rem;
  font-weight: 400;
}
.price-card .price-mxn{
  font-size: 2.2rem;
  font-weight: 600;
}
.slider-gp{
  padding :30px;
}
.promo-xview{
  font-size: clamp(1.3rem, 0.9537rem + 1.2886vw, 2.5rem);
  font-weight: 600;
  line-height: 1.7rem;
  margin-bottom: 20px;

}
.promo-xview span{
  color: var(--blue-dark);
}
.card-body{
  position: relative;
}
.btn-pack-card{
  position: absolute;
  bottom: -50px;
  width: 80%;
  right: 50%;
  z-index: 99;
  transform: translateX(50%);
}
.icon-card-packs{
  position: absolute;
  width: 45px;
  left: -42px;
}
.internet-icon{
  top: 35px;
}
.tv-icon{
  top: 210px;
}
.telefonia-icon{
  top: 380px;
}
.telefonia-icon-doble {
  top: 195px; /* Ajusta la posición según sea necesario */
}
.title-especial{
  line-height: 40px;
}
.paquete-item{
  width: 330px;
}

.fullconnect-img {
  max-width: 500px;
  padding-top: 70px;
}
.full-connected-container{
  position: relative;
}
.full-connected-container button{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 270px;
}

.packs-prev, .packs-next{
  top: 45%;
  transform: translateY(50%);
  background-color: var(--turquesa-btn);
  height: 35px;
  width: 35px;
  padding: 4px;
  border-radius: 50px;
}
.card-body{
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
}
.paquete-body{
padding-bottom: 15px;
}

@media screen and (max-width:767px) {
  .tarifario-title{
    width: 200px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .paquetes-tarifarios {
    vertical-align: 5px;
  }
  .packs-terminos {
    margin-top: 40px;
}
.slider-gp{
  padding: 30px 0;
}

.fullconnect-img{
padding-top: 0;
}

}
@media screen and (max-width: 1023px){
  .paquetes-tarifarios {
    padding: 100px 0px;
    
  }
  .paquete-item-triple{
    height: 770px;
  }
  .paquete-item-doble{
    height: 535px;
  }
}
@media screen and (max-width:374px) {
  .slider-gp{
    padding: 20px;
  }
}