.beneficios-serv-container{
  flex-wrap: wrap;
}
.beneficios-card-container{
  margin-top: 40px;
  gap: 20px;
  padding-bottom: 50px;
  flex-wrap: wrap;
}
.beneficios-card-container h3 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}
.beneficio-card{
  background-color: var(--blue-gray);
  height: 400px;
  border-radius: 50px;
  width: 40%;
  padding: 60px;
}
@media screen and (max-width:767px) {
  .beneficio-card{
    width: 100%;
    padding: 30px;
  }
}
@media screen and (min-width:768px) and (max-width:1200px){
  .beneficio-card{
    width: 70%;
    height: 350px;
  }
}