.tv-interactiva-container{
    background-image: url(/img/home/tv-interactiva-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
}
.tv-interactiva-content{
    margin: 0 auto;
}
.tv-interactiva-img img{
    width: 100%;
}
@media screen and (max-width: 767px) {
    .tv-interactiva-container{
        background-image: url(/img/home/tv-interactiva-bg-movil.png);
        background-position-y:15%;
        margin-top: 30px;
    }
}

@media screen and (max-width: 1023px){
    .tv-interactiva-content{
        row-gap: 50px;
        margin-top: 100px;
    }
    
}

@media screen and (min-width: 1024px){
    .tv-interactiva-container{
        height: 800px;
        background-size: 120%;
    }
}
@media screen and (min-width: 1200px){
    .tv-interactiva-txt{
        width: 500px;
    }
}
@media screen and (min-width: 1800px){
    .tv-interactiva-container{
        height: 800px;
        background-size: 100%;
    }
    
}