.ventajasInternerMega{
    background-image: url(/img/home/waves-bg-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    padding: 150px 0;
}
.ventajas-internet-cards{
    gap: 30px;
    margin-top: 100px;
}
.ventaja-internet-card{
    background-color: #fff;
    width: 220px;
    height: 240px;
    border-radius: var(--br-card);
    padding: 30px;
    text-align: center;
}
.ventaja-internet-card p{
    line-height: 18px;
    font-weight: 300;
}
.ventaja-internet-card img{
    width: 100px;
    margin-bottom: 30px;
}
@media screen and (max-width: 767px){
    .ventajas-title{
        width: 230px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .ventaja-internet-card{
        width: 95%;
    }
    .ventajasInternerMega{
        padding:100px 0 150px 0;
    }
}
@media screen and (max-width: 1023px){
    .ventajas-internet-cards{
        flex-wrap: wrap;
        margin-top: 50px;
    }
    .ventajasInternerMega{
        background-image: url(/img/home/waves-bg-1-movil.png);    
    }
    
}
@media screen and (min-width: 767px) and (max-width: 1023px){
    .ventaja-internet-card{
        width: 45%;
    }
    .ventajasInternerMega{
        padding:20px 0 200px 0;
    }
}